<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}?v={{ range(1000)|random }}">
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }
        zero-md {
            max-width: 700px;
            width: 90%;
            padding: 2rem;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <zero-md src="{{ url_for('static', filename=contents + '.md') }}"></zero-md>
</body>
</html>